/*override*/
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: 30px;
}


.img-row-wrap {
    margin-top: 200px;
}
.img-wrap {
    text-align: center;
}

.ard-row-wrap {
    text-align: center;
    margin: 5px;
}

.ard-row-title-wrap {
    padding: 5px;
    font-weight: bold;    
}

.ard-row-input-wrap {
    padding: 5px;
    margin: 5px;
}
.span2 {
    padding: 5px;
    margin: 0;
}
.span2 input, .span2 select {
    width: 100%;
    margin: 0;
} 